<%= f.label :question do %>
  <span>Question/Term</span>
  <%= f.text_area :question, placeholder: "Question/Term" %>
<% end %>

<%= f.label :answer do %>
  <span>Answer/Definition</span>
  <%= f.text_area :answer, placeholder: "Answer/Definition" %>
<% end %>

<%= f.label :all_tags do %>
  <span>Tags</span>
  <%= f.text_field :all_tags, class: "form-control", placeholder: "Tags separated with a space" %>
<% end %>

<%= text_field_tag :query, params[:query], id: "tag_search", autocomplete: "off" %>

<%# <%= f.fields_for :all_tags do |tag| %1> %>
<%#   <%= text_field_tag :query, params[:query], id: "tag_search", autocomplete: "off" %1> %>
<%# <% end %1> %>

<%# <%= form_tag tags_path, method: :get do %1> %>
<%#   <%= text_field_tag :query, params[:query], id: "tag_search", autocomplete: "off" %1> %>
<%# <% end %1> %>
