<!DOCTYPE html>
<html>
  <head>
    <title>Flashcaaard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js" %>
  </head>

  <body>
    <div class="wrapper por">
      <header class="container-fluid primary">
        <nav class="user-nav poa t0 r0">
          <ul class="text-right list-0">
            <% if current_user %>
              <li>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to "Log In", new_user_session_path %>
              </li>

              <li>
                <%= link_to "Register", new_user_registration_path %>
              </li>   
            <% end %>    
          </ul> 
        </nav> 
        
        <nav class="primary col-sm-3">
          <ul class="list-0">
            <li>
              <%= link_to "Create", new_card_set_path %>
            </li>
          </ul>
        </nav>

        <div class="col-sm-6 text-center">
          <%= link_to root_path do %>
            <%= image_tag "flashcards_logo" %>
          <% end %> 
        </div> 
      </header>
      
      <nav>
        <ul>
          <li>
            <%= link_to "All Flashcards", flashcards_path %>
          </li>
          
          <li>
            <%= link_to "New Flashcard", new_flashcard_path %>
          </li>
        </ul>
      </nav>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
      
      <footer class="primary">
        &copy; Copyright <%= Date.today.year %>
      </footer>
    </div>

  </body>
</html>
